{{- $email := promptStringOnce . "email" "Email address for git" "999598+mmalyska@users.noreply.github.com" -}}
{{- $user := promptStringOnce . "user" "User name for git" "Michał Małyska" -}}
{{- $isWSL := false -}}

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    {{ $isWSL := (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{   end }}
{{ end }}

[data]
    email = {{ $email | quote }}
    user = {{ $user | quote }}
    is_wsl = {{ $isWSL }}
