{{- $email := promptStringOnce . "email" "Email address for git" "999598+mmalyska@users.noreply.github.com" -}}
{{- $user := promptStringOnce . "user" "User name for git" "Michał Małyska" -}}
{{- $isWork := promptBoolOnce . "isWork" "If work machine" false -}}
{{- $isWSL := false -}}
{{- $isDevContainer := false -}}

{{ if eq .chezmoi.os "linux" }}
{{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    {{ $isWSL := (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{ end }}
{{ if eq .chezmoi.username "vscode" }}
{{ $isDevContainer := (eq .chezmoi.username "vscode") -}}
{{ end }}
{{ end }}

[data]
    email = {{ $email | quote }}
    user = {{ $user | quote }}
    is_wsl = {{ $isWSL }}
    is_work = {{ $isWork }}
    is_devcontainer = {{ $isDevContainer}}

[merge]
    command = "bash"
    args = [
        "-c",
        "cp {{ "{{" }} .Target | quote {{ "}}" }} {{ "{{" }} .Target | quote {{ "}}" }}.base && code --new-window --wait --merge {{ "{{" }} .Destination | quote {{ "}}" }} {{ "{{" }} .Target | quote {{ "}}" }} {{ "{{" }} .Target | quote {{ "}}" }}.base {{ "{{" }} .Source | quote {{ "}}" }}",
    ]
