[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = "{{ .user }}"
	email = "{{ .email }}"
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIHhoXNF9/VXWVZiH92yUIXTYOLNe1zaKiD/Yuyh3vgIn
[core]
	editor = \"code\" --wait
	{{- if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
	{{- end }}
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	{{- if eq .chezmoi.os "windows" }}
	program = C:/Windows/System32/OpenSSH/ssh-keygen.exe
	{{- end }}
[pull]
	rebase = true
