{{ if eq .chezmoi.os "darwin" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"

# Added by Toolbox App
export PATH="$PATH:/Users/{{ .chezmoi.username }}/Library/Application Support/JetBrains/Toolbox/scripts"

# Dodaj narzędzia zestawu platformy .NET Core
export PATH="$PATH:/Users/{{ .chezmoi.username }}/.dotnet/tools"
export SSH_AUTH_SOCK=/Users/{{ .chezmoi.username }}/Library/Containers/com.bitwarden.desktop/Data/.bitwarden-ssh-agent.sock
{{ end -}}

# aws warmup: sso login + ecr docker auth                                                                                                  
alias aws-warmup='aws sso login --profile global && aws ecr get-login-password --region eu-north-1 | docker login --username AWS --password-stdin 041193065457.dkr.ecr.eu-north-1.amazonaws.com'