#!/bin/bash
# This script is intended to be run once before any other scripts, and should be used for tasks that need to be performed only once, such as installing Homebrew.

{{ if eq .chezmoi.os "linux" }}
sudo apt-get install build-essential procps curl file git
{{ end }}
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
